<div class="row">
  <div class="span4">
    <h4>About</h4>
      <hr>
      <p>It Could Be Honolulu is a journal of Geoffrey Zabell’s professional and personal work. He currently resides in New York City. If you have any questions or queries please <%= mail_to("geoffrey.zabell@gmail.com", "email", :encode => "hex", :subject => "How about we discuss it over a coffee?") %>.</p>
  </div><!--/.span4 -->
</div><!--/.row -->
