<div class="row">
  <div class="span4">
    <h4>About</h4>
      <hr>
      <p>Currently residing in Brisbane. It Could Be Honolulu is a showcase of Geoffrey's professional and personal work.</p>

      <p>If you have any questions or queries please <b><%= mail_to("geoffrey.zabell@gmail.com", "email me", :encode => "hex", :subject => "How about we discuss it over a coffee?") %>. Or follow me on <a href="https://www.facebook.com/ItcouldbeHonolulu">Facebook</a>, <a href="http://instagram.com/itcouldbehonolulu">Instagram</a> or <a href="http://itcouldbehonolulu.tumblr.com/
">Tumblr</a>.</p><br>
      
      <div id="disqus_thread"></div>
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'itcouldbehonolulu'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div><!--/.span4 -->
</div><!--/.row -->