<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% @photos.each_with_index do |photo, index| %>
      <% if index.zero? %>
        <div class="item active">
          <%= slider_image photo %>
          <div class="container">
            <div class="carousel-caption">
              <h1>IT COULD BE HONOLULU</h1>
            </div>
          </div>
        </div>
      <% else %>
        <div class="item">
          <%= slider_image photo %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>