<div class="row">
  <div class="span4">
    <h4>Stimulus</h4>
    <hr>
    <ul class="unstyled">
      <li><a href="http://coldam.com/">Cold AM</a></li><br>
      <li><a href="http://thexraymachines.tumblr.com/">The XRAY MACHINEs</a></li><br>
      <li><a href="http://www.tinyvices.com/">TINY VICES photography</a></li><br>
      <li><a href="http://www.vanguardfashion.com.au/">VANGUARD fashion</a></li><br>
      <li><a href="http://dylanquirk.wordpress.com/">DYLAN QUIRK visual entrepeneur</a></li><br>
      <li><a href="http://kylethompsonphotography.com/">KYLE THOMPSON photography</a></li><br>
      <li><a href="http://www.mustafahabdulaziz.com/">MUSTAFAH ABDULAZIZ</a></li><br>
      <li><a href="http://www.hungertv.com/">HUNGERtv</a></li><br>
      <li><a href="http://photophilanthropy.org/">photoPHILANTHROPY</a></li>
    </ul>
  </div>
</div>
